{
  "openapi": "3.0.3",
  "info": {
    "title": "Sirchmunk API",
    "description": "Enterprise AI Search API",
    "version": "1.0.0",
    "contact": {
      "name": "API Support",
      "email": "api-support@sirchmunk.com",
      "url": "https://sirchmunk.com/support"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.sirchmunk.com/v1",
      "description": "Production server"
    },
    {
      "url": "https://staging-api.sirchmunk.com/v1",
      "description": "Staging server"
    },
    {
      "url": "http://localhost:8584/v1",
      "description": "Local development"
    }
  ],
  "paths": {
    "/search": {
      "post": {
        "summary": "Execute a search query",
        "operationId": "executeSearch",
        "tags": ["Search"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful search",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [{"ApiKeyAuth": []}]
      }
    },
    "/health": {
      "get": {
        "summary": "Health check endpoint",
        "operationId": "healthCheck",
        "tags": ["System"],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthStatus"
                }
              }
            }
          }
        }
      }
    },
    "/knowledge/clusters": {
      "get": {
        "summary": "List knowledge clusters",
        "operationId": "listClusters",
        "tags": ["Knowledge"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of clusters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/KnowledgeCluster"
                  }
                }
              }
            }
          }
        },
        "security": [{"ApiKeyAuth": []}]
      },
      "post": {
        "summary": "Create a knowledge cluster",
        "operationId": "createCluster",
        "tags": ["Knowledge"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClusterRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Cluster created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeCluster"
                }
              }
            }
          }
        },
        "security": [{"ApiKeyAuth": []}]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    },
    "schemas": {
      "SearchRequest": {
        "type": "object",
        "required": ["query"],
        "properties": {
          "query": {
            "type": "string",
            "description": "Search query",
            "example": "How does authentication work?"
          },
          "paths": {
            "type": "array",
            "items": {"type": "string"},
            "description": "Paths to search"
          },
          "mode": {
            "type": "string",
            "enum": ["FAST", "DEEP", "FILENAME_ONLY"],
            "default": "FAST"
          },
          "max_tokens": {
            "type": "integer",
            "default": 4000
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "success": {"type": "boolean"},
          "data": {
            "type": "object",
            "properties": {
              "answer": {"type": "string"},
              "sources": {
                "type": "array",
                "items": {"$ref": "#/components/schemas/Source"}
              }
            }
          }
        }
      },
      "Source": {
        "type": "object",
        "properties": {
          "file": {"type": "string"},
          "relevance": {"type": "number"},
          "excerpt": {"type": "string"}
        }
      },
      "HealthStatus": {
        "type": "object",
        "properties": {
          "status": {"type": "string", "enum": ["healthy", "degraded", "unhealthy"]},
          "version": {"type": "string"},
          "uptime_seconds": {"type": "integer"}
        }
      },
      "KnowledgeCluster": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "name": {"type": "string"},
          "description": {"type": "string"},
          "created_at": {"type": "string", "format": "date-time"},
          "file_count": {"type": "integer"}
        }
      },
      "CreateClusterRequest": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": {"type": "string"},
          "description": {"type": "string"},
          "file_ids": {
            "type": "array",
            "items": {"type": "string"}
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {"type": "string"},
          "message": {"type": "string"},
          "details": {"type": "object"}
        }
      }
    }
  }
}
